html, body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
background-color:#F4F4F4;
position: absolute;
overflow: hidden;
}
#header{
  position: absolute;
  display: block;
  margin-top: 0px;
  z-index: 1;
}
#visualizer {
  width: 105%;
  z-index: 1;
}
svg{
display: inline;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position:fixed;
z-index: 2;
}
path{
stroke-linecap: square;
stroke: white;
stroke-width: 0.18px;
}
rect {
  margin-top: 50%;
}


#logo{
  margin-left: 50px;
  margin-top: 50px;
  padding: 0;
  width: 210px;
  position: absolute;
}

h1{
width: 100%;
height:100%;
font-family: 'Inconsolata', monospace;
position:absolute;
text-align:center;
color:#191919;
font-size: 16px;
top: 45%;
opacity: 1;
transition: opacity 0.8s ease-in-out;
-moz-transition: opacity 0.8s ease-in-out;
-webkit-transition: opacity 0.8s ease-in-out;
z-index: 5;
}

#two{
  margin-left: 33vw;
  padding: 0;
}
#three{
  margin-left: 29.25vw;
  margin-top: -5vw;
}
#four{
  margin-top: -5vw;
  margin-left: 9vw;
}
#five{
  margin-top: -19.2vw;
  margin-left: 56vw;
}
#six{
  margin-left: 29.25vw;
  margin-top: -5vw;
}
.artist{
  text-align: center;
  width: 232px;
  height: 273px;
  z-index: 10;
  display: inline-table;
}
.caption {
  font-family: 'Inconsolata', monospace;
  color:#191919;
  font-size: 17px;
  font-weight: bold;
  display: relative;
  margin-top: 25px;
}


div#logo-type{
  display: inline;
  position: absolute;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
    margin-top: 80px;
  width: 100vw;
  height: 128px;
  text-align: center;
}
h2 {
  font-family: 'Inconsolata', monospace;
  position:relative;
  display: block;
  color:#191919;
  font-size: 29px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.06em;

}
h3 {
  font-family: 'Inconsolata', monospace;
  position:relative;
  display: inline;
  color:#191919;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.06em;
  line-height: 17pt;
}

h4 {
  font-family: 'Inconsolata', monospace;
  position:relative;
  color:#191919;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.06em;
  text-align: center;

}



div#menu-button {
  position: absolute;
  display: inline;
  margin-top: 70px;
  margin-left: 92.2vw;
  width: 20px;
  height: 20px;

}

.artist-head {
  position: relative;
  margin-left: 1vw;
  width: 100px;
}

div#artist-container{
  width:75vw;
  height: 708px;
  left: 50%;
  margin-left: -37.5vw; /* Half of the width */
  margin-right: auto;
  margin-top: auto;
  z-index: 5;
}

.bottom{
  position: absolute;
  bottom:0;
}

div#artist-scroll {
  position: relative;
  background-color: #F4F4F4;
  opacity: 0.8;
  z-index: 5;
  width: 72.5vw;
  height:592px;
  margin-left: auto;
  margin-right: auto;
   overflow-y: scroll;
   bottom:0;
}
